<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Shift Student to Another Batch</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
                    <v-flex xs4>
                        <v-subheader>Student Name</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-select
                          v-model="student_name"
                          :items="student_name"
                          placeholder="Choose Student's Name"
                          height="20"
                          autocomplete
                        ></v-select>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs4>
                        <v-subheader>Batch</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-select
                          v-model="batch"
                          :items="batch"
                          placeholder="Choose Batch"
                          height="20"
                          autocomplete
                        ></v-select>
                    </v-flex>
                  </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      student_name: ['Princess May P. Garde'],
      batch: ['BSIT 4','BSBA 4']
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            faculty_name: this.faculty_name,
            batch: this.batch
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
