<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Batch</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>  
              <v-flex xs4>
                 <v-subheader>Batch Title</v-subheader>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="batch"
                  required
                  placeholder="Enter Batch"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      batch: ''
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            batch: this.batch
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
