<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Faculty</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>ID</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="faculty_id"
                  required
                  placeholder="Enter Faculty's ID"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Name</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="faculty_name"
                  required
                  placeholder="Enter Faculty's Name"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Position</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="faculty_position"
                  required
                  placeholder="Enter Faculty's Position"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Email</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="faculty_email"
                  required
                  placeholder="Enter Faculty's Email Address"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Mobile</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="faculty_mobile"
                  required
                  placeholder="Enter Faculty's Mobile Number"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      faculty_id: '',
      faculty_name: '',
      faculty_position: '',
      faculty_email: '',
      faculty_mobile: ''
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            faculty_id: this.faculty_id,
          faculty_name: this.faculty_name,
          faculty_position: this.faculty_position,
          faculty_email: this.faculty_email,
          faculty_mobile: this.faculty_mobile
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
