<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Staff</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>ID</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="staff_id"
                  required
                  placeholder="Enter Staff's ID"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Name</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="staff_name"
                  required
                  placeholder="Enter Staff's Name"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Position</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="staff_position"
                  required
                  placeholder="Enter Staff's Position"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Email</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="staff_email"
                  required
                  placeholder="Enter Staff's Email Address"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Mobile</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="staff_mobile"
                  required
                  placeholder="Enter Staff's Mobile Number"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      staff_id: '',
      staff_name: '',
      staff_position: '',
      staff_email: '',
      staff_mobile: ''
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            staff_id: this.staff_id,
            staff_name: this.staff_name,
            staff_position: this.staff_position,
            staff_email: this.staff_email,
            staff_mobile: this.staff_mobile
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
