<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Add Student</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>ID</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="student_id"
                  required
                  placeholder="Enter Student's ID"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Name</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="student_name"
                  required
                  placeholder="Enter Student's Name"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Batch</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="batch"
                  required
                  placeholder="Enter Batch"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Email</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="student_email"
                  required
                  placeholder="Enter Student's Email Address"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs3>
                 <v-subheader>Mobile</v-subheader>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                  v-model="student_mobile"
                  required
                  placeholder="Enter Student's Mobile Number"
                  height="20"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      student_id: '',
      student_name: '',
      batch: '',
      student_email: '',
      student_mobile: ''
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            student_id: this.student_id,
            student_name: this.student_name,
            batch: this.batch,
            student_email: this.student_email,
            student_mobile: this.student_mobile
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
