<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Assign Batch to Students</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
                    <v-flex xs4>
                        <v-subheader>Batch</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-select
                          v-model="batch"
                          :items="batch"
                          placeholder="Choose Batch"
                          height="20"
                          autocomplete
                        ></v-select>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs4>
                        <v-subheader>Semester Title</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-select
                          v-model="semester_title"
                          :items="semester_title"
                          placeholder="Choose Semester Title"
                          height="20"
                          autocomplete
                        ></v-select>
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs4>
                        <v-subheader>Subject Code</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-select
                          v-model="subject_code"
                          :items="subject_code"
                          placeholder="Choose Subject Code"
                          height="20"
                          autocomplete
                        ></v-select>
                    </v-flex>
                  </v-layout>
            <br>
            <v-layout right>
              <b-button size="sm" variant="primary" @click="submit"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <b-button size="sm" variant="danger" @click="clear"><i class="fa fa-ban"></i> Reset</b-button>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
  // import axios from 'axios'

  export default {
    data: () => ({
      valid: true,
      batch: ['BSIT 4'],
      semester_title: ['1st Sem 2018'],
      subject_code: ['IT 111']
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            batch: this.batch,
            subject_title: this.subject_title,
            subject_code: this.subject_code
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
