<template>
  <v-card>
    <v-card>
        <v-toolbar flat color="white">
        <v-toolbar-title>Non Submmited Students</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        <v-spacer></v-spacer>
        </v-toolbar>
      </v-card>
      <br>
    <v-data-table
      :headers="headers"
      :items="student"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.student_id }}</td>
        <td>{{ props.item.student_name }}</td>
        <td>{{ props.item.batch }}</td>
        <td>{{ props.item.student_email }}</td>
        <td>{{ props.item.student_mobile }}</td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        search: '',
        headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: true,
          value: 'student_id'
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'student_name'
        },
        {
          text: 'Batch',
          align: 'left',
          sortable: true,
          value: 'batch'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'student_email'
        },
        {
          text: 'Mobile',
          align: 'left',
          sortable: false,
          value: 'student_mobile'
        }
      ],
        student: [
            {
            student_id: 'C15001',
            student_name: 'Princess May P. Garde',
            batch: 'BSIT 4',
            student_email: 'princessmaygarde@gmail.com',
            student_mobile: '09488585998'
          }
        ],
      }
    }
  }
</script>