<template>
    <b-card>
      <b-row>
        <b-col md="6">
        <b-card>
          <div slot="header">
            <h3><strong>Staff Evaluation Report</strong></h3>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout>
                <v-flex xs4>
                    <v-subheader>Staff Name</v-subheader>
                </v-flex>
                <v-flex xs8>
                    <v-select
                        v-model="names"
                        :items="staff_name"
                        placeholder="Choose Staff's Name"
                        height="20"
                        autocomplete
                    ></v-select>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex xs4>
                    <v-subheader>Staff Position</v-subheader>
                </v-flex>
                <v-flex xs18style>
                    <v-text-field
                    v-model="names"
                    v-bind:class="names == null ? '' : positions(names.position)"
                    :readonly="true"
                    id="testing"
                    ></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout>
                <v-flex xs4>
                    <v-subheader>Semester</v-subheader>
                </v-flex>
                <v-flex xs8>
                    <v-select
                        v-model="semesters"
                        :items="semester_title"
                        placeholder="Choose Semester Title"
                        height="20"
                        autocomplete
                    ></v-select>
                </v-flex>
            </v-layout>
            <br>
            <v-layout justify-center>
                <b-btn v-b-modal.modal1 variant="primary"><i class="fa fa-eye"></i> View</b-btn>
                <b-modal id="modal1" class="modal-fullscreen1" hide-footer>
                    <v-container grid-list-lg style="width:80%;font-size:20px; border: 1px solid">
                        <v-layout justify-center>
                        <p  style="margin-top:10px;font-size:25px">St. Mary's College of Bansalan, Inc</p><br>
                        </v-layout>
                        <v-layout class="space" justify-center>
                        <p style="margin-top:-20px;font-size:18px">(Formerly: Holy Cross of Bansalan College, Inc)</p><br>
                        </v-layout>
                        <v-layout class="space" justify-center>
                        <p style="margin-top:-30px;font-size:17px">Dahlia St. Poblacion Uno, Bansalan Davao del Sur</p><br>
                        </v-layout>
            <hr style="margin-top:-30px;">
            <h3 style="text-align:center">Faculty and Staff Evaluation Report</h3>
            <hr>
            <hr>
      <v-layout row wrap>
        <v-flex xs6>
          Staff: <b>{{names == null ? '' : names.name}}</b>
        </v-flex>
        <v-flex xs6>
          Semester: <b>{{semesters == null ? '' : semesters.semester}}</b>
        </v-flex>
        <v-flex xs6>
          Position: <b>{{this.position1 == null ? this.position : this.position1}}</b>
        </v-flex>
        <v-flex xs6>
          Rating: <b></b>
        </v-flex>
      </v-layout>
      <hr>
      <v-layout row wrap>
        <v-flex xs6>
          <h4 style="text-align:center">Questions</h4>
        </v-flex>
        <v-flex xs6>
          <h4 style="text-align:center">Responses</h4>
        </v-flex>
      </v-layout>

      <hr>

      <v-layout row wrap>
        <v-flex xs6>
        </v-flex>
        <v-flex xs1>
          5
        </v-flex>
        <v-flex xs1>
          4
        </v-flex>
        <v-flex xs1>
          3
        </v-flex>
        <v-flex xs1>
          2
        </v-flex>
        <v-flex xs1>
          1
        </v-flex>
        <v-flex xs1>
          Mean
        </v-flex>
      </v-layout>
    <hr>
      <v-layout row wrap>
        <v-flex xs1>
            Q1
        </v-flex>
        <v-flex xs5>
            Treated students with respect.
        </v-flex>
        <v-flex xs1>
          1
        </v-flex>
        <v-flex xs1>
          0
        </v-flex>
        <v-flex xs1>
          0
        </v-flex>
        <v-flex xs1>
          0
        </v-flex>
        <v-flex xs1>
          0
        </v-flex>
        <v-flex xs1>
          5
        </v-flex>
      </v-layout>

      
      <hr>
    </v-container>
                </b-modal>
            </v-layout>
          </v-form>
        </b-card>
      </b-col>
      </b-row> 
    </b-card>
</template>

<script>
    export default {
        data: () => ({
            date: new Date().toDateString(),
            names: null,
            semesters: null,
            subjects: null,
            position: null,
            position1: null,
            staff_name: [
                {   name: 'Angela Matapang',
                    position: 'Secretary'
                }
            ],
            semester_title: [
                {
                    semester: '1st Sem 2018'
                }
            ]
            ,
            subject_code: [
                {
                    subject: 'IT 111'
                }
            ]
        }),
        methods: {
            positions: function (data) {
                this.position = data
            }
        }
    }
</script>

<style>
.modal-fullscreen1 .modal {
    padding: 0 !important;
}
.modal-fullscreen1 .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.modal-fullscreen1 .modal-content {
    border: 0;
    border-radius: 0;
    min-height: 100%;
    height: auto;
}
</style>
