<template>
  <v-card>
    <v-card>
        <v-toolbar flat color="white">
        <v-toolbar-title>Faculty</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        <v-btn
                fab
                small
                color="success"
                bottom
                right
                absolute
                style="float:right"
                @click="dialog = !dialog"
            >
                <v-icon>add</v-icon>
            </v-btn>
        <v-spacer></v-spacer>
    <v-dialog v-model="dialog" max-width="500px">
            <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                <v-layout wrap>
                   <v-layout>
                    <v-flex xs3>
                        <v-subheader>ID</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.faculty_id"
                        required
                        placeholder="Enter Faculty's ID"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Name</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.faculty_name"
                        required
                        placeholder="Enter Faculty's Name"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Position</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.faculty_position"
                        required
                        placeholder="Enter Faculty's Position"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Email</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.faculty_email"
                        required
                        placeholder="Enter Faculty's Email Address"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Mobile</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.faculty_mobile"
                        required
                        placeholder="Enter Faculty's Mobile Number"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        </v-toolbar>
      </v-card>
      <br>
    <v-data-table
      :headers="headers"
      :items="faculty"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.faculty_id }}</td>
        <td>{{ props.item.faculty_name }}</td>
        <td>{{ props.item.faculty_position }}</td>
        <td>{{ props.item.faculty_email }}</td>
        <td>{{ props.item.faculty_mobile }}</td>
        <td>
          <v-icon
            small
            color="primary"
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            color="error"
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        search: '',
        headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: true,
          value: 'faculty_id'
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'faculty_name'
        },
        {
          text: 'Position',
          align: 'left',
          sortable: true,
          value: 'faculty_position'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'faculty_email'
        },
        {
          text: 'Mobile',
          align: 'left',
          sortable: false,
          value: 'faculty_mobile'
        },
        { text: 'Actions', value: 'name', sortable: false }
      ],
        faculty: [],
        editedIndex: -1,
        editedItem: {
          faculty_id: '',
          faculty_name: '',
          faculty_position: '',
          faculty_email: '',
          faculty_mobile: ''
        },
        defaultItem: {
          faculty_id: '',
          faculty_name: '',
          faculty_position: '',
          faculty_email: '',
          faculty_mobile: ''
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.faculty = [
          {
            faculty_id: 'C1500',
            faculty_name: 'Juan dela Cruz',
            faculty_position: 'IT Instructor',
            faculty_email: 'jdc@email.com',
            faculty_mobile: '09123456789'
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.faculty.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.faculty.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.faculty.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.faculty[this.editedIndex], this.editedItem)
        } else {
          this.faculty.push(this.editedItem)
        }
        this.close()
      }
    }
  }
</script>