<template>
  <v-card>
    <v-card>
        <v-toolbar flat color="white">
        <v-toolbar-title>Semesters</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        <v-btn
                fab
                small
                color="success"
                bottom
                right
                absolute
                style="float:right"
                @click="dialog = !dialog"
            >
                <v-icon>add</v-icon>
            </v-btn>
        <v-spacer></v-spacer>
    <v-dialog v-model="dialog" fullscreen>
            <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                <v-layout wrap>
                     <v-layout>
                    <v-flex xs4>
                        <v-subheader>Semester Title</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                        v-model="editedItem.semester_title"
                        required
                        placeholder="Enter Semester Title"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        </v-toolbar>
      </v-card>
      <br>
    <v-data-table
      :headers="headers"
      :items="semester"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.semester_title }}</td>
        <td>
          <v-icon
            small
            color="primary"
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            color="error"
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        search: '',
        headers: [
        {
          text: 'Semester Title',
          align: 'left',
          sortable: true,
          value: 'semester_title'
        },
        { text: 'Actions', value: 'name', sortable: false }
      ],
        semester: [],
        editedIndex: -1,
        editedItem: {
          semester_title: ''
        },
        defaultItem: {
          semester_title: ''
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Semester' : 'Edit Semester'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.semester = [
          {
            semester_title: '1st Sem 2018'
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.semester.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.semester.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.semester.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.semester[this.editedIndex], this.editedItem)
        } else {
          this.semester.push(this.editedItem)
        }
        this.close()
      }
    }
  }
</script>