<template>
  <v-card>
    <v-card>
        <v-toolbar flat color="white">
        <v-toolbar-title>Students</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
        <v-btn
                fab
                small
                color="success"
                bottom
                right
                absolute
                style="float:right"
                @click="dialog = !dialog"
            >
                <v-icon>add</v-icon>
            </v-btn>
        <v-spacer></v-spacer>
    <v-dialog v-model="dialog" max-width="500px">
            <v-card>
            <v-card-title>
                <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
                <v-container grid-list-md>
                <v-layout wrap>
                     <v-layout>
                    <v-flex xs3>
                        <v-subheader>ID</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.student_id"
                        required
                        placeholder="Enter Student's ID"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Name</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.student_name"
                        required
                        placeholder="Enter Student's Name"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Batch</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.batch"
                        required
                        placeholder="Enter Batch"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Email</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.student_email"
                        required
                        placeholder="Enter Student's Email Address"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                    <v-layout>
                    <v-flex xs3>
                        <v-subheader>Mobile</v-subheader>
                    </v-flex>
                    <v-flex xs9>
                        <v-text-field
                        v-model="editedItem.student_mobile"
                        required
                        placeholder="Enter Student's Mobile Number"
                        height="20"
                        ></v-text-field>
                    </v-flex>
                    </v-layout>
                </v-layout>
                </v-container>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
            </v-card>
        </v-dialog>
        </v-toolbar>
      </v-card>
      <br>
    <v-data-table
      :headers="headers"
      :items="student"
      :search="search"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.student_id }}</td>
        <td>{{ props.item.student_name }}</td>
        <td>{{ props.item.batch }}</td>
        <td>{{ props.item.student_email }}</td>
        <td>{{ props.item.student_mobile }}</td>
        <td>
          <v-icon
            small
            color="primary"
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            color="error"
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        search: '',
        headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: true,
          value: 'student_id'
        },
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'student_name'
        },
        {
          text: 'Batch',
          align: 'left',
          sortable: true,
          value: 'batch'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'student_email'
        },
        {
          text: 'Mobile',
          align: 'left',
          sortable: false,
          value: 'student_mobile'
        },
        { text: 'Actions', value: 'name', sortable: false }
      ],
        student: [],
        editedIndex: -1,
        editedItem: {
          student_id: '',
          student_name: '',
          batch: '',
          student_email: '',
          student_mobile: ''
        },
        defaultItem: {
          student_id: '',
          student_name: '',
          batch: '',
          student_email: '',
          student_mobile: ''
        }
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Student' : 'Edit Student'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.student = [
          {
            student_id: 'C15001',
            student_name: 'Princess May P. Garde',
            batch: 'BSIT 4',
            student_email: 'princessmaygarde@gmail.com',
            student_mobile: '09488585998'
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.student.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.student.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.student.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.student[this.editedIndex], this.editedItem)
        } else {
          this.student.push(this.editedItem)
        }
        this.close()
      }
    }
  }
</script>